/* Temp css */

div#top-notification {
    min-width: 300px;
    position: absolute;
    min-height: 500px;
    background: linear-gradient(45deg, #17151c, #282630);
    top: 70px;
    transform: translateX(-200px);
    border-radius: 10px;
    z-index: 30;
    box-shadow: 2px 2px 5px 1px #1110157a;
    padding: 14px 10px;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

[data-type="user"] .notif-icon i,
[data-type="friend_request"] .notif-icon i {
    width: 47px;
    height: 47px;
    border-radius: 30px;
    font-size: 22px;
    color: #6a687b;
}

[data-type="user"] .notif-icon,
[data-type="friend_request"] .notif-icon {
    background: transparent !important;
    border: 1px solid #3e3d49;
}

[data-type="user"],
[data-type="friend_request"] {
    /* padding: 25px 1px !important; */
    border-bottom: 1px solid #272630 !important;
    background: #222128 !important;
    box-shadow: 1px 1px 3px 1px #1c1b22 !important;
    border-radius: 7px !important;
    margin-bottom: 10px;
}

[data-type="user"] button.notif-close
 {
    display: none;
}

[data-type="user"] .notif-message,
[data-type="friend_request"] .notif-message{
    color: #908ca8;
}

[data-type="user"] .notif-title,
[data-type="friend_request"] .notif-title{
    font-weight: 500 !important;
    font-size: 13px !important;
    letter-spacing: 0.06em !important;
}

.notif-content {
    flex-grow: 1;
}

/* END */

.dashboard-layout {
    height: calc(100% - 110px);
}

.dashboard-layout > .loading{
    background-color: #111015;
    border-radius: 10px;
}

.sidebar-item{
    border: 1px solid #323138;
    border-radius: 10px;
    background: linear-gradient(120deg, #141318, #201f26 50%);
    padding: 2px;
    transition: 0.4s ease-in-out;
}

.sidebar-item i{
    font-size: 20px;
}

.sidebar-item:hover {
    background: linear-gradient(120deg, #471c88, #9114b6 70%);
    border-color: #9114b6;
    /* transition: 1s ease-in-out; */
}

.sidebar-item:hover::before {
    background: linear-gradient(162deg, transparent 20%, #d8aa50, transparent 80%);
    
}

.sidebar-item:hover .glassy-box {
    background: linear-gradient(133deg, #673da5, #9114b6);
    color: #ffb72d;
}

.charts-wrap{
    min-height: 250px;
}

.user-details {
    background: linear-gradient(334deg, #491c7f 30%, #7526b3);
    border: 1px solid #59327f;
    border-radius: 20px;
}

.key-value-box {
    padding: 5px 18px;
    background: rgb(0 0 0 / 20%);
    border-radius: 5px;
    height: 45px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: calc(23% - 5px); */

    flex: 1 1 auto;
    min-width: max-content;
    text-align: center;
    box-sizing: border-box;
    gap: 10px;

    
}

.top-boxes {
    margin-left: 130px;
}

.user-metadata {
    flex: 1 1 auto;
}

.user-avatar {
    width: 120px;
    height: 120px;
    background: rgba(128, 128, 128, 0);
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.1);
}

.user-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: -30px;
}

.display-name{
    font-size: 25px;
}

.user-avatar-sm {
    width: 40px;
    height: 40px;
    display: inline-block;
    min-width: 40px;
}

.ui-table-col{
    flex: 1 1 auto;
    /* min-width: min-content; */
}


/* Leader Boards */
.widget-title {
    font-size: 18px;
    font-weight: 500;
}

.ui-table-row {
    background: #292830;
    border-radius: 7px;
    min-height: 55px;
    padding: 10px 14px
}

/* .box-key{
    margin-right: 10px;
} */


@media all and (max-width: 1440px){
    .md-hidden{
        display: none;
    }

    .md-w-80per{
        width: 80%;
    }
}