:root{
    --heading-color: #fff;
    --primary-color: #fff;
    --background-color: #fff;
    --text-color: #fff;
    --link-color: #fff;
    --text-size: 15px;
    --heading-size: 35px;
    --heading-letter-spacing: 0.02em;
    --letter-spacing: 0.02em;
    --anchor-text-size: 15px;
    
    --heading-font-family: 'Tomorrow' , sans-serif;
    --btn-font-family: 'Tomorrow' , sans-serif;
    --text-font-family: 'Tomorrow' , sans-serif;
    --anchor-font-family: 'Tomorrow' , sans-serif;
    --heading-line-height: 1.4;
    --text-line-height: 1.8;
    --text-weight: 400;
    --heading-weight: 600;
    --heading-mb: 10px;
    --text-mb: 5px;

    /* inputs */
    --input-text-color: #392c39;
    --input-bg: #fff;
    --input-height: 58px;
    --input-radius: 12px;
    --input-border: none;
    --placeholder: #787682;
    --input-focus-border: none;
    --input-focus-shadow: 1px 1px 10px 0px rgb(192 10 200 / 30%);;

    /* buttons */
    --btn-bg: linear-gradient(45deg , #9b14ba , #c708cb);
    --btn-padding: 12px 30px;
    --btn-text-size: 14px;
    --btn-weight: 500;

    /* Dividers */
    --divider-color: #bbb2e6;
    --divider-width: 100%;
    --divider-height: 1px;

    /* Modals */
    --modal-bg: rgb(222 234 255 / 41%);
    --modal-radius: 50px;
    --modal-padding: 50px 60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

button{
    background: var(--btn-bg);
    padding: var(--btn-padding);
    color: var(--text-color);
    font-family: var(--btn-font-family);
    font-weight: var(--btn-weight);
    letter-spacing: var(--letter-spacing);
    line-height: var(--text-line-height);
    border:  none;
}

::placeholder{
    color: var(--placeholder);
    font-family: var(--text-font-family);

}

::-webkit-input-placeholder{

}

::-moz-placeholder{

}

p , span, li , a{
    font-size: var(--text-size);
    font-family: var(--text-font-family);
    color:  var(--text-color);
    letter-spacing: var(--heading-letter-spacing);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font-family);
    font-size: var(--heading-size);
    color: var(--heading-color);
    line-height: var(--heading-line-height);
    text-transform: uppercase;
    margin-bottom: var(--heading-mb);
    letter-spacing: var(--heading-letter-spacing);
}

.text-uppercase{
    text-transform: uppercase;
}

.decoration-underline{
    text-decoration: underline;
}
.decoration-none{
    text-decoration: none;
}
.text-end{
    text-align: right;
}

.fill-space{
    flex-grow: 1;
}

.d-flex-inline{
    display: inline-flex;
}

.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

.gap-30{
    gap:30px;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}


.divider{
    width: var(--divider-width);
    height: var(--divider-height);
    background-color: var(--divider-color);
}

.site-main {
    min-height: 100vh;
}

.bg-default{
    background-color: blueviolet;
    background-image: url('../img/default-bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.form-container {
    width: clamp(360px, calc(100vw - 100px) , 750px);
}

.site-modal{
    background: var(--modal-bg);
    border-radius: var(--modal-radius);
    padding: var(--modal-padding);
}

.d-flex{
    display: flex;
}

.direction-col{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.p-20{
    padding: 20px;
}

.pos-relative{
    position: relative;
}

.overflow-hidden{
    overflow: hidden;
}

.width-50{
    width: 50%;
}

.d-grid{
    display: grid;
}

.grid-col-2{
    
    grid-template-columns: repeat(2 , minmax(300px , 1fr));
}

.info-container {
    position: relative;
    display: inline-block;
  }
  
  .info-button {
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    min-width: 300px;
    max-width: 350px;
    width: 100%;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    line-height: 1.4;
  }
  
  .info-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  

footer.site-footer {
    text-align: center;
}

input:not([type="checkbox"]) {
    height: var(--input-height);
    border: none;
    border-color: transparent;
    width: 100%;
    border-radius: var(--input-radius);
    text-indent: 16px;
    outline: none;
    font-family: var(--text-font-family);
    transition: border-color 0.8s ease, box-shadow 0.8s ease;
    letter-spacing: var(--letter-spacing);
    color: var(--input-text-color);
}

input:focus {
  border: 1px solid #c608cb85;
  box-shadow: var(--input-focus-shadow);
}


.loader {
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background-color: var(--divider-color);
    overflow: hidden;
    display: none;
  }
  
  .loader::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--btn-bg);
    animation: googleLoader 2s infinite ease-in-out;
    animation-play-state: paused;
    
  }

  .loader.active::after{
    animation-play-state: running;
  }

  .loader.active{
    display: block;
  }
  
  @keyframes googleLoader {
    0% { left: -50%; width: 50%; }
    50% { left: 25%; width: 75%; }
    100% { left: 100%; width: 50%; }
  }

  /* Styled Checkbox */
  .styled-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    gap: 8px;
    user-select: none;
}

.styled-checkbox input {
    display: none; /* Hide the default checkbox */
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #bbb2e6;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Checkmark appearance when checked */
.styled-checkbox input:checked + .checkmark {
    background-color: #bbb2e6;
    border-color: #bbb2e6;
}

/* Checkmark symbol */
.styled-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

  