.settings-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    grid-gap: 10px;
    
}

.setting-box {
    background: linear-gradient(45deg, #2b2933, #1b1a21);
    border-radius: 10px;
    padding-left: 14px;
}

.setting-box input {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.settings-wrap .player-avatar {
    min-width: 200px;
    background-color: #1c1b22;
    filter: none;
    margin: 0;
    background-image: url(https://res.cloudinary.com/de6upiddr/image/upload/choose-avatar_pjvuun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110px;
}

.settings-wrap {
    padding-top: 30px;
}

.edit-avatar-wrap {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5px 10px;
    text-align: right;
    opacity: 0;
}

.edit-avatar-wrap * {
    cursor: pointer;
}

.player-avatar:hover .edit-avatar-wrap{
    opacity: 1;
}

.avatars-popup {
    background: linear-gradient(45deg, #2a2832, #1c1b22);
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    width: 90%;
    border: 1px solid #262430;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: none;
}

.avatars-popup.active{
    display: block;
}

.avatar-item {
    width: 105px;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 0px solid gray;
    transition: .1s ease;
}
.update-settings{
    max-width: 200px;
    align-self: flex-end;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    gap: 20px;
    backdrop-filter: blur(2px);
    display: none;
}

.active + .popup-overlay{
    display: block;
}

.avatar-item i {
    position: absolute;
    color: #ffffff;
    filter: drop-shadow(2px 4px 6px #fff);
    right: 4px;
    top: 4px;
    opacity:0;
}

.update-avatar-btn{   
    float: right;
}

.avatar-item.selected i{
    opacity: 1;
    
}

.avatar-item.selected{
    border: 2px solid #f200ff;
}

.avatar-item:hover{
    border: 2px solid #f200ff;
}